@import url(./_hidden/main-content__button-show-more_hidden.css);

.main-content__button-show-more {
  background-color: #ffffff;
  color: #000000;
  border-radius: 100px;
  width: 200px;
  height: 50px;
  border-style: none;
  margin-top: 60px;
  display: block;
  outline: none;
  cursor: url(../../../images/cursor_hand.cur), pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.main-content__button-show-more::after {
  content: 'Показать ещё';
}

.main-content__button-show-more:hover {
  background-color: #ffffff9e;
  box-shadow: 0px 0px 10px 0px #d6d6d681;
}

@media screen and (max-width: 500px) {
  .main-content__button-show-more {
    width: 280px;
    margin-top: 10px;
  }
}