.card__title {
  width: calc(100% - 48px);
  text-align: left;
  color: #000000;
  margin: 10px 0 0;
  font-family: roboto-slab, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.5rem;
}
