@import url(./__line/mobile-menu-btn__line.css);
@import url(./_color/mobile-menu-btn_color_white.css);
@import url(./_color/mobile-menu-btn_color_black.css);

.mobile-menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25px;
  cursor: url(../../../images/cursor_hand.cur), pointer;
}

.mobile-menu-btn:hover > * {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .mobile-menu-btn {
    display: flex;
  }
}