.header-content__subtitle {
  width: 100%;
  max-width: 600px;
  text-align: left;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 200;
  font-style: normal;
  margin-top: 30px;
}
