@import url(./_order/form__server-error_order_1.css);
@import url(./_position/form__server-error_position_center.css);
@import url(./_margin/form__server-error_margin.css);
@import url(./_visible/form__server-error_visible.css);

.form__server-error {
  color: #ff2828d0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.2;
  opacity: 0;
  margin: 2px 0 0 0;
  width: 100%;
  text-align: center;
}