@import url(./_size/popup__wrapper_size_s.css);

.popup__wrapper {
  width: 100%;
  height: 100%;
  max-width: 430px;
  max-height: 380px;
  min-height: 300px;
  position: relative;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 0;
}

@media screen and (max-width: 350px) {
  .popup__wrapper {
    max-height: 100%;
    padding: 0 0 20vh 0;
    margin: 37vh 0 0 0;
  }
}