.form__error {
  color: #ff2828d0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: .8rem;
  line-height: 1.2;
  opacity: 0;
  margin: 2px 0 0 0;
}

