.card__article-btn-mark-icon.card__article-btn-mark-icon_marked {
  background-image: url(../../../../images/bookmark_marked.svg), url(../../../../images/bookmark_marked.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}
