.footer-copyright {
  color: #B6BCBF;
  margin: auto 0;
  font-family: roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .footer-copyright {
    grid-area: copyright;
    margin: 40px 0 20px 25px;
  }
}

@media screen and (max-width: 330px) {
  .footer-copyright {
    grid-area: copyright;
    margin: 40px 0 20px 5px;
  }
}
