@import url(./__img/card__img.css);
@import url(./__date/card__date.css);
@import url(./__title/card__title.css);
@import url(./__text/card__text.css);
@import url(./__source-link/card__source-link.css);
@import url(./__article-btn/card__article-btn.css);
@import url(./__article-btn-mark-icon/card__article-btn-mark-icon.css);
@import url(./__article-btn-hint/card__article-btn-hint.css);
@import url(./__article-btn-hint-msg/card__article-btn-hint-msg.css);

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  text-decoration: none;
  cursor: url(../../images/cursor_hand.cur), pointer;
  position: relative;
}

.card:hover {
  box-shadow: 0px 20px 36px -24px rgba(50, 50, 50, 0.3);
}
