.form__button.search-form__button {
  border-radius: 100px;
  border-style: none;
  width: 100%;
  max-width: 200px;
  height: 100%;
  color: #ffffff;
  background-color: #2F71E5;
  position: absolute;
  top: 0;
  right: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 200;
  outline: none;
  box-sizing: border-box;
  cursor: url(../../../../../images/cursor_hand.cur), pointer;
}

.form__button.search-form__button:focus:not(:disabled) {
  background-color: rgb(32, 93, 197);
}

.form__button.search-form__button:hover:not(:disabled) {
  background-color: #2A65CC;
}

@media screen and (max-width: 500px) {
  .form__button.search-form__button {
    position: unset;
    max-width: 500px;
    height: 60px;
    margin-top: 15px;
    padding: 0 15px;
  }
}