.news-card__article-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  box-shadow: -1px 0px 5px 0px rgba(50, 50, 50, 0.38);
  background-color: white;
  outline: none;
}

.news-card__article-btn>input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}