.main-content__title {
  font-family: roboto-slab, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2rem;
}

@media screen and (max-width: 800px) {
  .main-content__title {
    max-width: 340px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .main-content__title {
    font-size: 2rem;
  }
}
